ALLOWED_ISSUERS=["https://attorneys-render-sleeping-doe.trycloudflare.com/application/o/spravki-app/"]
AUTHENTIK_URL=https://england-indices-travesti-writing.trycloudflare.com
APPLICATION_SLUG=spravki-app
CLIENT_ID=spravki_app_client_id
CLIENT_SECRET=spravki_app_client_secret
ALLOWED_ISSUERS=["https://england-indices-travesti-writing.trycloudflare.com/application/o/spravki-app/"]
LOGIN_REDIRECT_URI=https://sesc-it-team.ru/auth/callback
COOKIE_SECURE=False
ROUTER_PATH=/api/auth
SEND_ACCESS_TOKEN_IN_JSON_RESPONSE=False
SEND_ACCESS_TOKEN_AS_COOKIE=True
USER_SERVICE_URL=https://calendars-shoulder-programmers-deaths.trycloudflare.com
